In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf
import datetime

In [ ]:
datetime.date.today()

datetime.date(2025, 2, 18)

In [ ]:
df = yf.download(["SPY"], start="1900-01-01", end=datetime.date.today(), auto_adjust=False)
df = df["Adj Close"].reset_index()
df["Date"] = df["Date"].dt.date
df.columns = df.columns.str.lower()
df

[*********************100%***********************]  1 of 1 completed

Ticker        date         spy
0       1993-01-29   24.526066
1       1993-02-01   24.700512
2       1993-02-02   24.752846
3       1993-02-03   25.014507
4       1993-02-04   25.119179
...            ...         ...
8063    2025-02-10  604.849976
8064    2025-02-11  605.309998
8065    2025-02-12  603.359985
8066    2025-02-13  609.729980
8067    2025-02-14  609.700012

[8068 rows x 2 columns]

In [ ]:
class PriceFetcher:
    def __init__(self, tickers):
        self.tickers = tickers

    prices = None
    
    def fetch_data(self):
        self.prices = yf.download(self.tickers, start="1900-01-01", end=datetime.date.today(), auto_adjust=False)
        self.prices = self.prices["Adj Close"].reset_index()
        self.prices["Date"] = self.prices["Date"].dt.date
        self.prices.columns = self.prices.columns.str.lower()
        return(None)

In [ ]:
pf = PriceFetcher(["SPY", "AGG"])

In [ ]:
pf.fetch_data()

[*********************100%***********************]  2 of 2 completed

In [ ]:
pf.prices

Ticker        date        agg         spy
0       1993-01-29        NaN   24.526066
1       1993-02-01        NaN   24.700512
2       1993-02-02        NaN   24.752846
3       1993-02-03        NaN   25.014507
4       1993-02-04        NaN   25.119179
...            ...        ...         ...
8063    2025-02-10  97.489998  604.849976
8064    2025-02-11  97.269997  605.309998
8065    2025-02-12  96.760002  603.359985
8066    2025-02-13  97.339996  609.729980
8067    2025-02-14  97.699997  609.700012

[8068 rows x 3 columns]