In [ ]:
from PriceFetcher import PriceFetcher

In [ ]:
pf = PriceFetcher(assets=["SPY", "AGG"])

In [ ]:
pf.fetch()

[*********************100%***********************]  2 of 2 completed

In [ ]:
pf.prices

            date        agg         spy
0     1993-01-29        NaN   24.526073
1     1993-02-01        NaN   24.700520
2     1993-02-02        NaN   24.752834
3     1993-02-03        NaN   25.014505
4     1993-02-04        NaN   25.119177
...          ...        ...         ...
8065  2025-02-12  96.760002  603.359985
8066  2025-02-13  97.339996  609.729980
8067  2025-02-14  97.699997  609.700012
8068  2025-02-18  97.309998  611.489990
8069  2025-02-19  97.449997  612.760010

[8070 rows x 3 columns]

In [ ]:
print(pf.date_min)
print(pf.date_max)

2003-09-29
2025-02-19

In [ ]:
pf.assets

['spy', 'agg']